body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.content-container {
    flex: 1;
} 
.content-style {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.content {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: inherit;
    font-size: 36px;
    font-weight: 1000;
    margin-bottom: 20px;
}
p {
    color: inherit;
    font-size: 18px;
    margin-bottom: 30px;
}
footer {
    text-align: center;
    font-size: 14px;
    color: #444;
    padding: 1em 0;
}
.link {
    text-decoration: none;
    color: #1a73e8;
    transition: 0.2s;
}
.link:hover {
    color: #144d97;
    text-decoration: underline;
    transition: 0.2s;
}
.button {
    margin-top: 25px;
}
.button a {
    display: inline-block;
    align-items: center;
    color: #666;
    border: 2px solid #666;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin: 0 10px;
    border-radius: 5px; 
    text-decoration: none;
    transition: 0.5s;
}
.button a:hover {
    color: #111;
    border: 2px solid #111;
    transition: 0.5s;
}
.button a span {
    margin-left: 5px;
}