.nav-style {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    }
.navbar .left a {
    color: #444;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: 0.37s;
}
.navbar .left a:hover {
    color: #111;
    text-decoration: underline;
    transition: 0.37s;
}
.navbar .right a {
    color: #444;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: 0.37s;
}
.navbar .right a:hover {
    color: #111;
    text-decoration: none;
    transition: 0.37s;
}
.navbar .right span:hover {
    text-decoration: underline;
    transition: 0.37s;
}
.navbar .left {
    flex: 1;
    font-size: x-large;
    font-weight: 1000;
}
.navbar .right {
    display: flex;
    gap: 1em;
    font-weight: bold;
}
.navbar .right a:last-child {
    color: white;
    background-color: #444;
    border-radius: 5px; 
    transition: 0.5s;
}
.navbar .right a:last-child:hover {
    background-color: #111;
    transition: 0.5s;
}
.navbar .right a span {
    margin-left: 5px;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #444;
    margin: 4px 0;
    transition: 0.4s;
}
.navbar .right.active {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.navbar .right.active a {
    padding: 1em 0;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar .left {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .navbar .right {
        display: none;
        width: 100%;
        justify-content: center;
    }
    .navbar .right a:last-child {
        color: #444;
        background-color: transparent;
    }
    .navbar .right a:last-child:hover {
        color: #111;
    background-color: transparent;
    }
    .hamburger {
        display: flex;
        margin: auto;
        margin-right: 1em;
    }
}