body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.container-style {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container {
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px;
}
p {
    color: #444;
    font-size: 20px;
    margin-bottom: 15px;
}
.h1-title {
    color: #333;
    font-size: 75px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.lastupdate-date {
    font-size: 22px;
    margin-bottom: 20px;
}
.link-texts-container {  /* Focus and normal color: #1a73e8, Hover color: #144d97 */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text-item {
    display: flex;
    align-items: center;
}
.menu-numbers {
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}
.link-texts {
    text-decoration: none;
    color: #1a73e8;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
}
.link-texts:hover {
    color: #144d97;
    font-size: 18px;
    text-decoration: underline;
    transition: 0.2s;
}
.textlink-direct {
    text-decoration: underline;
    color: #000;
    transition: 0.2s;
}
.textlink-direct:hover {
    color: #555;
    transition: 0.2s;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 7px;
    font-size: 19px;
}
ul li::before {
    content: "• ‎ ";
    font-size: 23px;
}
.link {
    text-decoration: none;
    color: #1a73e8;
    transition: 0.2s;
}
.link:hover {
    color: #144d97;
    text-decoration: underline;
    transition: 0.2s;
}
footer {
    text-align: center;
    font-size: 14px;
    color: #444;
}

@media (max-width: 640px) {
    .h1-title {
        color: #333;
        font-size: 50px;
        font-weight: bolder;
        margin-top: 5px;
        margin-bottom: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
}